<h1>タスク一覧</h1>

<table>
  <% @tasks.each do |task| %>
  <tr>
    <td><strong>タスク名: </strong><%= task.title %></td>
    <td><strong>終了期限: </strong><%= l task.time_limit, format: :long %></td>
  </tr>

    <td><%= link_to '詳細', task_path(task.id) %></td>
    <td><%= link_to '編集', edit_task_path(task.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  <% end %>
</table>
<%= link_to 'タスク新規作成', new_task_path %>
